
<h3>Error add</h3>
<form method="post" action="/err/add">
    <label>Error code</label><br>
    <input type="text" name="errName">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Message add</h3>
<form method="post" action="/msg/add">
    <label>Error code</label><br>
    <input type="text" name="errId1"><br>
    <label>Language</label><br>
    <input type="text" name="lang1"><br>
    <label>Massage</label><br>
    <input type="text" name="msg1">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Delete Error code</h3>
<h4>Warning! You must delete all messages before deleting error code</h4>
<form method="post" action="/err/del">
    <label>Error code</label><br>
    <input type="text" name="errId3">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Message delete</h3>
<form method="post" action="/msg/del">
    <label>Error code</label><br>
    <input type="text" name="errId2"><br>
    <label>Language</label><br>
    <input type="text" name="lang2"><br>
    <label>Massage</label><br>
    <input type="text" name="msg2">
    <br><br>
    <input type="submit" value="Delete">
</form>

<h2>Error codes</h2>
<ul>
<% errors.forEach(function(err){ %>
    <li><%= err.name %></li>
<%  }) %>
</ul>

<h2>Messages</h2>
<ul>
<% messages.forEach(function(msg){ %>
    <li><%= msg.errId %> <%= msg.lang %> <%= msg.lable %></li>
<%  }) %>
</ul>